<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingreso de Datos</title>
</head>
<body>
<h1> Ingreso de Datos del Cliente</h1>
<form th:action="@{/agregar}" th:object="${cliente}" method="post">
    Nombre:
    <input type="text" th:field="*{nombre}"/><br/>

    Saldo Anterior:
    <input type="number" th:field="*{saldoAnterior}"/><br/>

    Monto de Compras:
    <input type="number" th:field="*{compras}"/><br/>

    Pago Realizado:
    <input type="number" th:field="*{pago}"/><br/>

    <button type="submit">Enviar</button>
</form>

</body>
</html>